<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/accueil">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/collections">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/elements">Elements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/edit-collection">Ajouter une collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/edit-element">Ajouter un element</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
